.button {
    background-color: #4C5760 !important;
    color: #A2D2FF !important;
    border-radius: 20px !important;
    border-color: #4C5760 !important;
    font-size: 20px !important;
    padding: 5px !important;
    outline: none;
}

.button-small {
    background-color: #A2D2FF !important;
    width: 50px !important;
    color: #4C5760 !important;
    border-radius: 20px !important;
    border: 5px solid #4C5760 !important; 
    font-size: 20px !important;
    padding: 5px !important;
    outline: none;
}